# Tested on Linux-CUDA 11.0-Python 3.6.9
# Install the missing package could be more than enough
absl-py==1.0.0
addict==2.4.0
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bce-python-sdk==0.8.49
bleach==3.2.1
bokeh==2.2.3
boto3==1.23.10
botocore==1.26.10
cachetools==4.2.4
certifi==2020.11.8
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
editdistance==0.6.0
einops==0.3.2
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-Babel==2.0.0
future==0.18.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
graphviz==0.15
grpcio==1.43.0
horovod==0.20.0
huggingface-hub==0.4.0
identify==1.5.9
idna==2.10
imageio==2.13.5
imgaug==0.4.0
importlib-metadata==4.8.3
importlib-resources==3.3.0
imutils==0.5.4
inplace-abn==1.1.0
ipdb==0.13.9
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mmcv==1.3.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
nltk==3.6.7
nodeenv==1.5.0
notebook==6.1.5
numpy==1.19.4
oauthlib==3.1.1
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
packaging==21.3
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.3.1
pipreqs==0.4.11
plotly==4.12.0
Polygon3==3.0.9.1
pre-commit==2.8.2
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pyflakes==2.2.0
Pygments==2.7.2
PyGObject==3.26.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==4.7.7
QtPy==1.9.0
regex==2022.9.13
requests==2.25.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.8
s2s-ft==0.0.1
s3transfer==0.5.2
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
sentencepiece==0.1.97
setuptools==41.0.0
Shapely==1.8.4
six==1.15.0
statsmodels==0.12.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
timm==0.4.12
tokenizers==0.7.0
toml==0.10.2
torch==1.7.0+cu110
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.8.1+cu110
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
transformers==2.10.0
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.1.0
visdom==0.1.8.9
visualdl==2.0.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wheel==0.37.1
widgetsnbextension==3.5.1
yapf==0.32.0
yarg==0.1.9
zipp==3.4.0
